*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #ec5050);
}
.container{
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    height: 100%;
}
.container input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    outline: none;
}
.form-box{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.register{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .register{
    transform: translateX(100%);
}

.login{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.container.active .login{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.social-icons a{
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.social-icons a:hover{
    border-color: #c9d6ff;
    background-color: #c9d6ff;
}
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 100;
}
.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0px 150px 100px 0;
}
.toggle{
    background-color: #c9d6ff;
    background-image: url("Images/office.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: #333;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    /* border-radius: 150px 0 0 100px; */
}
.container.active .toggle{
    transform: translateX(50%);
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    transform: translateX(-200%);
}
.container.active .toggle-left{
    transform: translateX(0);
    /* border-radius: 150px 0 0 100px; */
}
.toggle-right{
    right: 0;
    transform: translateX(0);
}
.container.active .toggle-right{
    transform: translateX(200%);
}
.btnback button{
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width:403px) {
    .container{
        position: relative;
        top: 50px;
    }
    .form-box{
        position: relative;
        top: 100px;
    }
    
}

@media screen and (max-width: 801px){
  .container{
    height: auto;
    min-height: 600px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
   .register{
    transform: translateY(0);
    z-index: 2;
   }
   .login{
    transform: translateY(100%);
    z-index: 1;
   }
   .container.active .register {
    transform: translateY(-100%);
  }
  .container.active .login {
    transform: translateY(0);
  }
  .toggle-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-radius: 0px 0px 100px 100px;
  }
  .container.active .toggle-container{
    transform: translateY(0);
    border-radius: 0px 0px 100px 100px;
}
  .toggle{
    height: 100%;
    border-radius: 0px 0px 100px 100px;
    background-image: none;
    background-position: center;
  }
  .form-box{
    position: absolute;
    width: 100%;
    height: 80vh;
    /* height: calc(100% - 150px); */
  }
}


