*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #ec5050);
}
.container{
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    height: 100%;
}
.container input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    outline: none;
}
.form-box{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.register{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .register{
    transform: translateX(100%);
}

.login{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.container.active .login{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation-name: move;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,100%{
        opacity: 1;
        z-index: 5;
    }
}
.social-icons a{
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.social-icons a:hover{
    border-color: #c9d6ff;
    background-color: #c9d6ff;
}
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    /* border-radius: 150px 0 0 100px; */
    z-index: 100;
}
.container.active .toggle-container{
    transform: translateX(-100%);
    /* border-radius: 0px 50px 10px 0; */
}
.toggle{
    background-color: #c9d6ff;
    background-image: url("Images/office.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    color: #333;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    /* border-radius: 150px 0 0 100px; */
}
.container.active .toggle{
    transform: translateX(50%);
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    transform: translateX(-200%);
}
.container.active .toggle-left{
    transform: translateX(0);
    /* border-radius: 150px 0 0 100px; */
}
.toggle-right{
    right: 0;
    transform: translateX(0);
}
.container.active .toggle-right{
    transform: translateX(200%);
}


